name: Create Release

on:
  push:
    tags:
      - 'v*'  # тригериться тільки на теги, що починаються з v, напр. v0.1.0

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install PlatformIO
      run: pip install platformio

    - name: Build firmware
      run: pio run

    - name: Upload firmware from /firmware/ folder
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        body: "Automatic firmware release for ${{ github.ref_name }}"
        files: firmware/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
